# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.png
3d_reconstruction/image3/html/demo.html
*.asv
*.asv
*.asv
ROC_check.asv
*.asv
*.asv
ROC_check.asv
AFC_ROI_analysis.asv
AFC_ROI_analysis.asv
Imaging_data_processing/target_image_selection.m
nx_CaSingal.info
nx_CaSingal.info
nx_CaSingal.info
Imaging_data_processing/target_image_selection.m
MIToolbox-3.0.0/LICENSE
*.m~
*.m~
